{{cloze:Sentence}}

<br /><br />

<div class="definition">
    <span class="cefr {{CEFR}}">{{CEFR}}</span> {{POS}}: {{Definition}}
</div>
<br />

{{type:Word}}

<br />

<button id="translateButton">Translate</button>
<div id="translation" style="display: none;">{{Translation}}</div>

{{#Note}}
<button id="noteButton">Note</button>
<div id="note" style="display: none;">{{Note}}</div>
{{/Note}}

<div id="content" style="display: none;"></div>

<script>
    var contentDiv = document.getElementById('content');

    function setContent(contentId, alignment) {
        var contentElement = document.getElementById(contentId);
        contentDiv.innerHTML = contentElement.innerHTML;
        contentDiv.style.display = 'block';
        contentDiv.style.textAlign = alignment;
    }

    var translateButton = document.getElementById('translateButton');
    var noteButton = document.getElementById('noteButton');

    // When the translate button is clicked, display the translation.
    if (translateButton) {
        translateButton.onclick = function () {
            setContent('translation', 'center');
        };
    }

    // When the note button is clicked, display the note.
    if (noteButton) {
        noteButton.onclick = function () {
            setContent('note', 'left');
        };
    }
</script>