<div class="mobile-only">{{cloze:Sentence}}</div>

{{type:cloze:Sentence}}

<br /> <br />

<div class="definition">
    <span id="cefrSpan" class="cefr {{CEFR}}">{{CEFR}}</span> {{POS}}: {{Definition}}
</div>
<br />

<button id="translateButton">Translate</button>
<div id="translation" style="display: none;">{{Translation}}</div>

<div id="content" style="display: none;"></div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        var cefrSpan = document.getElementById('cefrSpan');
        if (cefrSpan.className.includes("B1+")) {
            cefrSpan.className = cefrSpan.className.replace("B1+", "B1plus");
        }

        // Hide clozeSentence div if not mobile
        if (!isMobile()) {
            document.getElementById('clozeSentence').style.display = 'none';
        }
    });

    var contentDiv = document.getElementById('content');

    function setContent(contentId, alignment) {
        var contentElement = document.getElementById(contentId);
        contentDiv.innerHTML = contentElement.innerHTML;
        contentDiv.style.display = (contentDiv.style.display == 'none') ? 'block': 'none';
        contentDiv.style.textAlign = alignment;
    }

    // When the translate button is clicked, display the translation.
    var translateButton = document.getElementById('translateButton');
    if (translateButton) {
        translateButton.onclick = function () {
            setContent('translation', 'center');
        };
    }

</script>